/*=========================================================================================
    File Name: _charts.scss
    Description: Styles for charts.
    ----------------------------------------------------------------------------------------
    Item Name: Human Resources Application
    Author: Hossam Ali
    Author URL: https://www.linkedin.com/in/hossam-ali-7bb41810b/
==========================================================================================*/

.echarts {
  width: 100% !important;
}
